/* CSS Document */
.About_DaoHang{
	
	margin: 16px auto;}
.hide{
	display:none;}
.About_People{
	  width: 980px;
	  margin: 0 auto;
	  margin-bottom:20px;
	  overflow: hidden;}
.About_People li{
	float: left;
	margin-right: 10px;
	width: 318px;
	height: 207px;
	margin-bottom: 20px;
	overflow: hidden;
	cursor: pointer;
	}
.About_People li img{
	border:black 1px solid;
	width: 356px;
	height: 318px;
	
	}
.About_DanPeople{  width: 980px;
	  margin: 0 auto;
	  margin-bottom:20px;
	  overflow: hidden;}