@charset "utf-8";
/* CSS Document */
html,body{ color:#666;background:#fff; font-family:"Microsoft Yahei";}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { margin:0;padding:0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
audio,canvas,video { display: inline-block;*display: inline;*zoom: 1; }
body,button,input,select,textarea{ font: 12px/1.5 Arial, "Microsoft Yahei"; }
input,select,textarea{ font-size:100%; }
table{ border-collapse:collapse;border-spacing:0; }
th{ text-align:inherit; }
fieldset,img{ border:0; }
iframe{ display:block; }
abbr,acronym{ border:0;font-variant:normal; }
del { text-decoration:line-through; }
address,caption,cite,code,dfn,em,th,var { font-style:normal; font-weight:500; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:500; }
q:before,q:after { content:''; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup {top: -0.5em;}
sub {bottom: -0.25em;}
a:hover { text-decoration:none; }
ins,a { text-decoration:none; cursor:pointer; color:#888888; }
.clear:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.clear { zoom:1; }
body .hide { display:none; }
.left,.right { display:inline; }
.left { float:left; }
.right { float:right; }

.wrap { width:100%; margin:40px auto; margin-bottom:0px;}
/*--------------------------------header begin--------------------------------------*/
.header { width:980px; margin:0 auto;}
.header .logo {width:184px;height:84px}
ul.nav  { height:30px;margin-left:85px;}
ul.nav li { float:left; font-size:17px;margin-left:17px;width:100px; text-align:center;}
ul.nav li a { color:#888;display:block}
ul.nav li a.strong { color:#333;font-family:"Microsoft Yahei";font-size:16px}
/*--------------------------------header end--------------------------------------*/
.main { width:100%; margin-top:20px;}
.weare {color:#888888; width:650px;padding-left:305px; padding-bottom:5px;margin:0 auto;margin-top: -60px;}
.weare h1 {font-size:14px;margin-bottom:10px;}
.weare p { font-size:14px;padding-bottom:5px;}

.slideBox{ width:100%; height:636px; overflow:hidden; position:relative;max-width:1280px;min-width: 960px;margin:20px auto 0 auto;}
.slideBox .bd{ position: relative;z-index: 0;overflow: hidden;}
.slideBox .bd ul{ width: 100%!important; }
.slideBox .bd li{background-position:center center;background-repeat:no-repeat; height:636px;width: 100% !important;}
.slideBox .hd{position:absolute;bottom:20px;left:0;width:100%;text-align:center;z-index:1}
.slideBox .hd li{border: 0; font: 0/0 a; line-height: 20px; background: url(slide-index.png) no-repeat -15px 5px; display: inline-block; display: -moz-stack; height: 20px; width: 20px; overflow: hidden; margin: 0 2px;cursor:pointer}
.slideBox .hd li:hover{background-position: -15px 5px;}
.slideBox .hd li.on{background-position: -35px 5px;}
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:46%; margin-top:-25px; display:block; width:55px; height:80px; background:url(slider-arrow.png) 0px 0px no-repeat; }
.slideBox .next{ left:auto; right:3%; background-position:-50px 0px; }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

.three_case { width:1100px; margin-top:20px;}
.three_case li.block { float: left;margin-right:12px;width:318px; height:207px; position:relative; overflow:hidden;cursor:pointer}
.three_case li img{width:318px;height:207px;display:block;background:url(loading.gif) center center no-repeat;}
.three_case .mark {padding-top:20px;padding-left:20px;width:298px; height:187px; position:absolute; top:0; background:#8ca5a2; opacity:0.8; cursor:pointer;top:-207px;filter:alpha(opacity=80);}
.three_case .mark a,.three_case .mark span{ color:#fff; font-size:18px;display:block;}
.three_case .mark h1{ margin-bottom:7px;}

.index-show{width:980px; margin:0 auto;overflow:hidden}
.caselist{width:980px; margin:0 auto;overflow:hidden}
.caselist .three_case{min-height:130px}
.caselist .three_case .block{margin-bottom:20px;}

.footer { width:100%;margin-top:1px;margin-bottom:50px}
.footer-inner{ width:980px; margin:0 auto;margin-top:20px;}
.footer-inner  li.block {float: left;margin-right:10px; width:318px; height:150px; position:relative; overflow:hidden;}
.footer-inner  li.block.last {margin-left:0px; margin-right:0px;width:220px;margin-left:75px}
.footer-inner  li.block h1 { font-size:16px;color:#333333;margin-bottom:0px;line-height:2em}
.footer-inner  li.block p { font-size:12px;}
.footer-inner  li.block img.left {margin-right:10px;}
.footer-inner  .weibo{font-size:14px;color:#333;margin-top: 57px;display: inline-block;}

.footer-inner  .taobao a{color:#666;}
.footer-inner  a{color:#BBB}
.footer-inner .contact li { background:url(footbg.png) no-repeat; height:25px;padding-left:20px; font-size:14px; color:#bbb; overflow:hidden;}
.footer-inner  .contact  li.taobao{background:url(taobao.png) -2px 0px no-repeat;height:30px;line-height:30px;padding-left:33px;}
.footer li.block.last  div { margin-bottom:15px;padding-top:0px;margin-left:33px;}
.footer li.block.last  p{  font-size:14px; color:#bbb;}

.brand { width:100%; height:auto; background:#efefef;margin-top:50px}
.brand-inner { width:980px; margin:0 auto;padding-bottom:15px}
.brand-title { width:63px; height:20px; background:#acacac; text-align:center; line-height:20px; color:#fff;}
.brand-box{height:60px;overflow:hidden;padding-top:6px}
.brand-box img{width:977px;height:120px;display:block}
.brand .more {float:right;width:28px;height:18px;background:url(more.png) 0 -13px no-repeat;display:block}
.brand a.on {background:url(more.png) 0 2px no-repeat;!important}
.backButton a{padding-left:5px;padding-right:5px;text-decoration:none;font-size:12px;height:26px;line-height:26px;display:inline-block;margin:15px;border:1px #ccc solid}
.backButton a:hover{font-weight:bold;color:#fff;background-color:#c40e24}

img{background: url(loading.gif) center center no-repeat;}


.subnav li { float:left;  margin-right:18px; height:26px; line-height:26px;}
.subnav li a{display:block;font-size:14px;border-bottom:2px solid #fff;}
.subnav li.hover a{border-bottom:2px solid #c40e24;}
.subnav li a:hover{border-bottom:2px solid #c40e24;}

.caseinfor_main { width:980px; margin:0 auto;margin-top:20px;}
.caseinfor_left { width:278px; color:#333;}
.caseinfor_right{width:650px;overflow:hidden}
.caseinfor_right img{max-width:648px!important;max-height:auto!important;display:block;margin-bottom:13px;background:url(loading.gif) center center no-repeat;}
.caseinfor_left  h1 { font-size:16px;margin-bottom:10px}
.caseinfor_left p { line-height:20px;}
.case_detail { padding-bottom:30px; border-bottom:1px solid #000;margin-bottom:30px;}

.softcase{width:980px; margin:0 auto;margin-top:20px;}
.softcase img{max-width:980px!important;max-height:auto!important;display:block;margin:13px 0 5px 0;background:url(loading.gif) center center no-repeat;}
.softcase  h1 { font-size:16px;padding:10px 0;}
.softcase p { line-height:20px;}

.alone{width:980px; margin:0 auto;margin-top:20px;}
.alone-content{padding: 40px 0 0 330px;font-size:12px;line-height:2em;color:#666;}
.pageid11 .alone-content{padding:40px 0 0 0}
.pageid15 .alone-content{padding:40px 0 0 0}



.list{width:980px;margin:0 auto}
.list-article { border-top:2px solid #6e6f68;margin-top:15px;min-height:150px}
.list-article li { padding-bottom:15px; padding-top:18px; border-bottom:1px solid #6e6f68;position:relative}
.list-article li .litpic img{float:left;display:block;margin-right:70px;width:260px;height:125px;background:url(loading.gif) center center no-repeat;}
.list-article li h2{display:block;line-height:32px;height:32px;}
.list-article li h2 a{font-size:14px;font-weight:bold;}
.list-article li .des{height:70px;line-height:2em;padding-right:150px}
.list-article li .info span{color:#C40E24;margin-right:10px}
.list-article  a.more{position:absolute;top:45px;right:0;background:url(newsmore.png) no-repeat 0 top; width:64px; height:61px; line-height:61px; color:#fff; text-align:center; font-weight:bold; display:block;}
.list-article  a.more:hover{background:url(newsmore.png) no-repeat 0 -61px;}

.article{width:980px;margin:0 auto;padding-top:30px;line-height:2em;}
.article-left{float:left;width:290px;padding-right:30px}
.article h1{font-size:16px;font-weight:bold;line-height:26px;}
.article .des{border-bottom:1px solid #333;padding-top:10px;padding-bottom:15px;margin-bottom:15px;min-height:100px}
.article-right{float:right;width:650px}
.article-right img{max-width:648px!important;max-height:auto!important;margin:10px 0;background:url(loading.gif) center center no-repeat;}
.article-right p{margin-bottom:12px}
.pager { width:980px; margin:0 auto; color:#333; line-height:30px; padding:20px 0 10px 0; font-size:12px; text-align:center;}
.pager li{ display:inline; margin-left:4px;}
.pager a { border: #cccccc 1px solid; padding:0px 8px; color: #666; text-decoration: none;  font-size:12px; height:26px;line-height:26px;display:inline-block;}
.pager a:hover { border: #ccc 1px solid; color: #fff; background-color: #C40E24; }
.pager a:active { color: #fff; border: #ccc 1px solid; background-color: #C40E24; }
.pager .thisclass a { font-weight: bold; color: #fff; background-color: #C40E24; }
.pager span.disabled { border-right: #eee 1px solid; padding-right: 5px; border-top: #eee 1px solid; padding-left: 5px; padding-bottom: 2px; margin: 2px; border-left: #eee 1px solid; color: #ddd; padding-top: 2px; border-bottom: #eee 1px solid } 
.pagePre:hover{font-weight:bold;color:#fff;background-color:#c40e24}
.pagePre{text-decoration:none;font-size:12px;height:26px;line-height:26px;display:inline-block;margin:15px;padding-left:5px;padding-right:5px;border:1px #ccc solid}
.pageNext:hover{font-weight:bold;color:#fff;background-color:#c40e24}
.pageNext{padding-left:5px;padding-right:5px;text-decoration:none;font-size:12px;height:26px;line-height:26px;display:inline-block;margin:15px;border:1px #ccc solid}